body {
  background: url('../images/trees.png');
  background-size: cover;
}

h1 {
  text-align: center;
  background: #8FCB9B;
  color: #982649;
  width:40%;
  margin: 0px;
  font-family: 'Raleway', sans-serif;w
  font-size: 90px;
  border-radius: 6px;
}

#leftcontainer {
  background: #8FCB9B;
  padding: 15px;
  font-family: 'Fugaz One', cursive;
  color: #982649;
  width:30%;
  float: left;
  margin: -8px;

}

iframe {
  background: #5B9279;
}

img {
  padding-left: 15px;
  background :#8FCB9B;
}

#rightcontainer {
  height: 80%
  border-radius: 8px;
  float: right;
  overflow: hidden;
  margin:-8px;
}

a {
  text-decoration: none;
  color: #064789;
}
