body {
  background: url('../images/trees.png');
  background-size: cover;
}

h1 {
  text-align: center;
  background: #5B9279;
  color: #982649;
  width:40%;
  margin: 0px;
  font-family: 'Raleway', sans-serif;w
  font-size: 90px;
  border-radius: 6px;
}

#leftcontainer {
  background: #8FCB9B;
  padding: 30px;
  font-family: 'Fugaz One', cursive;
  color: #982649;
  width:30%;
  float: left;
  margin: -8px;
}

iframe {
  background: #5B9279;
  padding: 15px;
  margin-left: -8px;
  margin-bottom: -20px;
  border-radius: 8px;
}

img {
  padding: 15px;
  border-radius: 8px;
  background: #5B9279;
  margin-top: 5%;
  margin-left: 8px;
}

a {
  text-decoration: none;
  color: #064789;
}
